[submodule "Mask_RCNN"]
	path = Mask_RCNN
	url = https://github.com/DLWorkspace/Mask_RCNN
[submodule "keras-multiprocess-image-data-generator"]
	path = keras-multiprocess-image-data-generator
	url = https://github.com/DLWorkspace/keras-multiprocess-image-data-generator
	branch = master
[submodule]
	keras-multiprocess-image-data-generator = branch
[submodule "keras-applications"]
	path = keras-applications
	url = https://github.com/DLWorkspace/keras-applications
[submodule "pretrained-models.pytorch"]
	path = pretrained-models.pytorch
	url = https://github.com/DLWorkspace/pretrained-models.pytorch
[submodule "pytorch-summary"]
	path = pytorch-summary
	url = https://github.com/DLWorkspace/pytorch-summary
[submodule "keras-preprocessing"]
	path = keras-preprocessing
	url = git@github.com-jinlccs:DLWorkspace/keras-preprocessing.git
