[submodule "Mask_RCNN"]
	path = Mask_RCNN
	url = https://github.com/DLWorkspace/Mask_RCNN
[submodule "keras-multiprocess-image-data-generator"]
	path = keras-multiprocess-image-data-generator
	url = https://github.com/DLWorkspace/keras-multiprocess-image-data-generator
